:root {
  --main-border-color: #bbb;
}

html, body, #root {
  height: 100%;
}

body, p, ul, h2, h3, a {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  color: #252525;
}

a {
  text-decoration: none;
  color: #252525;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  /* height: 100%; */
  /* display: flex; */
  /* flex-direction: column; */
}


.btn {
  text-transform: uppercase;
  margin: 35px auto;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.29);
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  width: 250px;
  position: relative;
}

.btn:hover {
  border-color: rgba(0,0,0,.5);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

.btn-teal {
  background-color: #00B5AD;
  color: #fff;
  border-radius: 0.3rem;
  border: none;
  margin: 0;
}

.btn-teal:hover {
  background-color: #009c95;
  color: #fff;
  text-shadow: none;
}

.btn-view {
  color: #00b5ad;
  border-color: #00b5ad;
  border-radius: 0.3rem;
  margin: 0;
}

.btn-view:hover {
  color: #fff;
  background-color: #00b5ad;
  border-color: #00b5ad;
}

.btn.fluid {
  width: 100%;
}

.btn.disabled {
  opacity: 0.45;
  cursor: default;
  pointer-events: none;
}

.btn-logout {
  cursor: pointer;
}

.center {
  text-align: center;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
}

.flex-justify-center, .flex-center {
  justify-content: center;
}

.flex-align-center, .flex-center {
  align-items: center;
}

.screen {
  display: flex;
  /* flex-grow: 1; */
  padding: 2rem;
}

.active {
  font-weight: bold;
}

hr {
  margin-top: 0;
  /* margin-bottom: 1.5rem; */
  border-top: 0.2rem solid #00b5ad;
}

.nav {
  padding-top: 0.8rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

.nav-items {
  display: flex;
  justify-content: space-between;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 0;
}


ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.avatar {
  height: 50px;
  border-radius: 50%;
  /* margin: 10px; */
}

.nav .avatar {
  margin: 2px 25px 2px 10px;
}

.nav .avatar-li {
  padding: 0;
}

.avatar-mini {
  height: 30px;
}

.avatar-large {
  height: 10rem;
}

.avatar-medium {
  height: 7rem;
}

.column {
  max-width: 450px;
}

.teal {
  color: #00B5AD;
}

.font-large {
  font-size: 1.714rem;
}

.card {
  width: 100%;
  max-width: 590px;
  padding: 0px;
  margin: 0 auto;
  border: 1px solid #bbb;
  border-radius: 3px;
}

.card-section {
  padding: 1rem;
}

.card-container {
  padding-left: 10px;
  padding-right: 10px;
}

.card-q-body {
  display: flex;
}

.card-q-body img {
  align-self: center;
}

.card.question {
  /* min-width: 30rem; */
}

.card-form-container {
  flex-grow: 1;
}

.card-form {
  display: flex;
  flex-direction: column;
}

.card-hdr {
  padding: 1rem;
  border-bottom: 1px solid var(--main-border-color);
  background-color: #eee;
}

/* .card-hdr h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
} */

.card-tabs {
  display: flex;
  justify-content: space-evenly;
}

.card-tab {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--main-border-color);
  cursor: pointer;
}

.card-tab-left {
  border-right: 1px solid var(--main-border-color);
}

.border-right {
  border-right: 1px solid var(--main-border-color);
}

.border-left {
  border-left: 1px solid var(--main-border-color);
}

.card-tab.active {
  background-color: #eee;
  color: #00b5ad;
}

.flex {
  display: flex;
}

.flex-grow-1 {
  flex-grow: 1;
}

.form-text-input {
  padding: 0.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.decor-container {
  margin-bottom: 1rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.decor-container span {
  padding: 0 1rem;
  background-color: white;
}

.decor-line {
  position: absolute;
  border: 1px solid var(--main-border-color);
  width: 100%;
  z-index: -1;
}

.new-question button {
  margin-top: 0;
  margin-bottom: 0;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 1rem;
}

.p-0-5 {
  padding: 0.5rem;
}

.pl-1 {
  padding-left: 1rem;
}

.plr-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.plr-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.pb-1 {
  padding-bottom: 1rem;
}

.ml-1 {
  margin-left: 1rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mr-2 {
  margin-right: 2rem;
}

.bg-gray {
  background-color: #eee;
}

.mb-05 {
  margin-bottom: 0.5rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.q-option {
  border: 1px solid rgba(0,0,0,.5);
  padding: 1rem;
  border-radius: 0.2rem;
  position: relative;
}

.q-option-vote {
  border: 1px solid #007c7c;
  background-color: rgba(0,181,173,.2);
}

.q-option-vote h3 {
  color: #007c7c;
}

.q-option-vote-badge {
  background-color: rgb(218, 167, 0);
  color: white;
  font-weight: bold;
  border-radius: 50%;
  height: 3.1rem;
  width: 3.1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -1rem;
  right: -1.75rem;
}

.optionOne {
  margin-bottom: 1rem;
}

select {
  display: block;
  width: 100%;
  font-size: 1.147rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
  background-color: #fff;
}

select option {
  color: black;
}

.placeholder {
  color: #636c72;
}

.pct-bar {
  /* border: 1px solid black; */
  background-color: #cfd3ce;
  border-radius: 0.3rem;
  width: 100%;
  height: 2rem;
  margin-bottom: 1rem;
}

.pct-bar-value {
  height: 100%;
  border-radius: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #009c95;
  color: white;
}

