html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
}

a {
  text-decoration: none;
  color: #252525;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}


.btn {
  text-transform: uppercase;
  margin: 35px auto;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.29);
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  width: 250px;
  position: relative;
}

.btn:hover {
  border-color: rgba(0,0,0,.5);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

.btn-teal {
  background-color: #00B5AD;
  color: #fff;
  border-radius: 3px;
  border: none;
  margin: 16px auto;
}

.btn-teal:hover {
  background-color: #009c95;
  color: #fff;
  text-shadow: none;
}

.btn.fluid {
  width: 100%;
}

.btn.disabled {
  opacity: 0.45;
  cursor: default;
  pointer-events: none;
}

.btn-logout {
  cursor: pointer;
}

.center {
  text-align: center;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
}

.screen {
  display: flex;
  flex-grow: 1;
}

.active {
  font-weight: bold;
}

.nav {
  padding: 10px;
}

.nav-items {
  display: flex;
  justify-content: space-between;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 0;
}


ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.avatar {
  height: 50px;
  border-radius: 25px;
  margin: 10px;
}

.nav .avatar {
  margin: 2px 25px 2px 10px;
}

.nav .avatar-li {
  padding: 0;
}

.avatar-mini {
  height: 30px;
}

.column {
  max-width: 450px;
}

.teal {
  color: #00B5AD;
}


h2.ui.header {
  font-size: 1.714rem;
  margin: 0;
}

.card {
  width: 100%;
  max-width: 590px;
  padding: 0px;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
}

.card-section {
  padding: 10px;
}

.card-container {
  padding: 0 10px;
}

.bg-gray {
  background-color: #eeeeee;
}

select {
  display: block;
  width: 100%;
  font-size: 1.147rem;
  padding: 0.5rem;
}

select option {
  color: black;
}

.placeholder {
  color: #636c72;
}