html, body, #root {
  height: 100%;
}

body, p {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  color: #252525;
}

a {
  text-decoration: none;
  color: #252525;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  /* height: 100%; */
  /* display: flex; */
  /* flex-direction: column; */
}


.btn {
  text-transform: uppercase;
  margin: 35px auto;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.29);
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  width: 250px;
  position: relative;
}

.btn:hover {
  border-color: rgba(0,0,0,.5);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

.btn-teal {
  background-color: #00B5AD;
  color: #fff;
  border-radius: 3px;
  border: none;
  margin: 16px auto;
}

.btn-teal:hover {
  background-color: #009c95;
  color: #fff;
  text-shadow: none;
}

.btn.fluid {
  width: 100%;
}

.btn.disabled {
  opacity: 0.45;
  cursor: default;
  pointer-events: none;
}

.btn-logout {
  cursor: pointer;
}

.center {
  text-align: center;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
}

.screen {
  display: flex;
  /* flex-grow: 1; */
}

.active {
  font-weight: bold;
}

hr {
  margin-top: 0;
  margin-bottom: 1.5rem;
  border-top: 0.2rem solid #00b5ad;
}

.nav {
  padding-top: 0.8rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

.nav-items {
  display: flex;
  justify-content: space-between;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 0;
}


ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.avatar {
  height: 50px;
  border-radius: 50%;
  margin: 10px;
}

.nav .avatar {
  margin: 2px 25px 2px 10px;
}

.nav .avatar-li {
  padding: 0;
}

.avatar-mini {
  height: 30px;
}

.avatar-large {
  height: 10rem;
}

.column {
  max-width: 450px;
}

.teal {
  color: #00B5AD;
}


h2.ui.header {
  font-size: 1.714rem;
  margin: 0;
}

.card {
  width: 100%;
  max-width: 590px;
  padding: 0px;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
}

.card-section {
  padding: 10px;
}

.card-container {
  padding-left: 10px;
  padding-right: 10px;
}

.card-q-body {
  display: flex;
}

.card-q-body img {
  align-self: center;
}

.card.question {
  min-width: 30rem;
}

.plr-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.pb-1 {
  padding-bottom: 1rem;
}

.ml-1 {
  margin-left: 1rem;
}

.bg-gray {
  background-color: #eeeeee;
}

.card-form-container {
  flex-grow: 1;
}

.card-form {
  display: flex;
  flex-direction: column;
}

#optionOne {
  margin-bottom: 1rem;
}

.q-option {
  border: 1px solid rgba(0,0,0,.5);
  padding: 1rem;
  border-radius: 0.2rem;
  position: relative;
}

.q-option-vote {
  border: 1px solid #007c7c;
  background-color: rgba(0,181,173,.2);
}

.q-option-vote h3 {
  color: #007c7c;
}

.q-option-vote-badge {
  background-color: rgb(218, 167, 0);
  color: white;
  font-weight: bold;
  border-radius: 50%;
  height: 3.1rem;
  width: 3.1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -1rem;
  right: -1rem;
}

select {
  display: block;
  width: 100%;
  font-size: 1.147rem;
  padding: 0.5rem;
}

select option {
  color: black;
}

.placeholder {
  color: #636c72;
}

.pct-bar {
  /* border: 1px solid black; */
  background-color: #cfd3ce;
  border-radius: 0.3rem;
  width: 100%;
  height: 2rem;
  margin-bottom: 1rem;
}

.pct-bar-value {
  height: 100%;
  border-radius: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #009c95;
  color: white;
}

